In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 20.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=2df9e21f0989a2d3c6c1bf7e67c2fe1efe2596f9e3555398dca619061a4c9a70
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

### **1. Quick Example of show()**

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('silambarasan').getOrCreate()

In [ ]:
spark

In [ ]:
data=[("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

In [ ]:
columns=["first_name","middle_name","last_name","dob","gender","salary"]

In [ ]:
pysparkDF=spark.createDataFrame(data=data,schema=columns)

In [ ]:
# Default - displays 20 rows and
# 20 charactes from column value
pysparkDF.show()

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [ ]:
#Display full column contents
pysparkDF.show(truncate=False)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

In [ ]:
# Display 2 rows and full column contents
pysparkDF.show(2,truncate=False)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
+----------+-----------+---------+-----+------+------+
only showing top 2 rows

In [ ]:

# Display 2 rows & column values 25 characters
pysparkDF.show(2,truncate=25)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
+----------+-----------+---------+-----+------+------+
only showing top 2 rows

In [ ]:
# Display DataFrame rows & columns vertically
pysparkDF.show(n=3,truncate=25,vertical=True)

-RECORD 0---------------
 first_name  | James
 middle_name |
 last_name   | Smith
 dob         | 36636
 gender      | M
 salary      | 60000
-RECORD 1---------------
 first_name  | Michael
 middle_name | Rose
 last_name   |
 dob         | 40288
 gender      | M
 salary      | 70000
-RECORD 2---------------
 first_name  | Robert
 middle_name |
 last_name   | Williams
 dob         | 42114
 gender      |
 salary      | 400000
only showing top 3 rows

### **2. show() Syntax**

In [ ]:
# Syntax
def show(self, n=20, truncate=True, vertical=False):

### **3. PySpark show() To Display Contents**

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('silambarasan').getOrCreate()

In [ ]:
columns=['Seqno',"Quote"]

In [ ]:
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]

In [ ]:
df=spark.createDataFrame(data=data,schema=columns)

In [ ]:
df.show()

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

In [ ]:
#Display full column contents
df.show(truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

In [ ]:
# Display 2 rows and full column contents
df.show(2,truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
+-----+-----------------------------------------------------------------------------+
only showing top 2 rows

### **4. Show() with Truncate Column Values**

In [ ]:
# Display 2 rows & column values 25 characters
df.show(2,truncate=30)

+-----+------------------------------+
|Seqno|                         Quote|
+-----+------------------------------+
|    1|Be the change that you wish...|
|    2|Everyone thinks of changing...|
+-----+------------------------------+
only showing top 2 rows

### **5. Display Contents Vertically**

In [ ]:
# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25,vertical=True)

-RECORD 0--------------------------
 Seqno | 1
 Quote | Be the change that you...
-RECORD 1--------------------------
 Seqno | 2
 Quote | Everyone thinks of cha...
-RECORD 2--------------------------
 Seqno | 3
 Quote | The purpose of our liv...
only showing top 3 rows